#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: "Comfortaa";
  color: rgb(62, 27, 96);
  background-color: rgb(222, 194, 159);
}
p {
  font-size: 1.5rem;
}

.App {
  text-align: center;
}
#tab {
  color: rgb(138, 147, 157);
  font-size: 20px;
}
#navbar {
  background-color: rgba(54, 19, 19, 0.924);
}
#skills {
  position: flex;
  text-align: center;
  font-size: 25px;
}
h1 {
  text-align: center;
}
#profile-img {
  max-width: 50%;
  border-radius: 50%;
  margin: 60px;
}

footer {
  /* background-color: rgba(50, 9, 9, 0.924); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 0;
  position: sticky;
}
#project-card {
  align-content: center;
  margin: 5%;
}
#about {
  align-items: center;
  margin-left: 5%;
}
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    min-width: 100%;
  }
}
